<amp-sidebar id="sidebar"
  layout="nodisplay"
  side="right">
  	<div class="menu-close"
	    width="20"
	    height="20"
	    alt="close sidebar"
	    on="tap:sidebar.close"
	    role="button"
	    tabindex="0">X</div>
	<nav id="nav">
		<ul class="links">
			<li><a class="page-link" href="{{ site.baseurl }}/">Home</a></li>
			<li><a class="page-link" href="{{ site.baseurl }}/drinks">Drinks</a></li>
			<li><a class="page-link" href="{{ site.baseurl }}/ingredients">Ingredients</a></li>
			<li><a class="page-link" href="{{ site.baseurl }}/about">About</a></li>
		</ul>
	</nav>
</amp-sidebar>