<amp-sidebar id="sidebar"
  layout="nodisplay"
  side="right">
  	<div class="menu-close"
	    width="20"
	    height="20"
	    alt="close sidebar"
	    on="tap:sidebar.close"
	    role="button"
	    tabindex="0">X</div>
	<nav id="nav">
		<ul class="links">
			<li><a class="page-link" href="{{ site.baseurl }}/">Home</a></li>
			<li><a class="page-link" href="{{ site.baseurl }}/drinks">Drinks</a></li>
			<li><a class="page-link" href="{{ site.baseurl }}/ingredients">Ingredients</a></li>
			<li><a class="page-link" href="{{ site.baseurl }}/about">About</a></li>
		</ul>
	</nav>
	<ul class="social">
  		<li><a href="http://facebook.com/homebartips"><i class="fa fa-facebook"></i></a></li>
  		<li><a href="http://twitter.com/homebartips"><i class="fa fa-twitter"></i></a></li>
  		<li><a href="https://www.instagram.com/homebartips/"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://itunes.apple.com/us/podcast/home-bar-tips/id1071730839?mt=2"><i class="fa fa-itunes"></i></a></li>
  		<li><a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss"></i></a></li>
	</ul>
</amp-sidebar>